<h1><span>add a mustache style</span></h1>
<form action="/styles/new-style" method="post" encType="multipart/form-data">
	<input type="text" name="title" id="title" placeholder="title" required>
	<input type="text" name="description" id="description" placeholder="description">
	<input type="file" name="image" id="image" placeholder="image" required>
	<input type="submit" name="send" id="send" value="send">
</form>
</div>
